.container-fluid{
  background-color: #312C51;
  color: #FFFFFF;
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Montserrat', sans-serif;
}
.navbar-brand{
 font-weight: bold;
 padding-top: 20px;
 padding-left: 40px;
 padding-bottom: 20px;
}
.navbar-custom {
    color: #FFFFFF;

}
.nav-item{
  padding-right: 65px;
  color: white;
}
.icon{
  /* transform: scaleY(0.4); */
  /* transform: scaleX(0.4); */
  transform: scale(0.6,0.6);
}
.img{
  text-align: center;
  margin-top: 120px;
  padding-top: 00px;
  opacity: 25%;
  width: 400px;
  height: 256px;
}
.text{
  padding-left: 350px;
  font-size: 28px;
}
.navbar {
  overflow: hidden;
  background-color: #312C51;
  color: white;
  position: fixed;
  top: 0;
   font-weight: bold;
  opacity: 100%;
  width: 100%;
}
.nav-link{
  color: #FFFFFF;
}
.navbar a {
  float: left;
  display: flex;
  color: white;
  text-align: center;
  font-size: 17px;
}
.navbar-custom .nav-item:hover .nav-link{
  color: #EB596E;
}

.main{
  padding-left: 65px;
    padding-top: 70px;
    background-color: #312C51;
  }
  .but{
    padding-left: 50px;
      background-color: #312C51;
  }
  .st{
    float: left;
    width: 559px;
      background-color: #312C51;
  }
  .nd{
    padding-left: 820px;
    padding-top: 10px;
      background-color: #312C51;
        color: #D3E0EA;
  }
.dev{
    border-radius: 25px;
    height: 35px;
    margin: 10px;
}
.size{
  width: 559px;
  color: #D3E0EA;
}
.dev1{
  border-radius: 30px;
 background-color: #EB596E;
}
.pad{
  text-align: center;
}
.pad1{
  background-color: #EB596E;
}
.container1{
  height:470px;
  background-color: #1D1B2B;
  padding-top:20px;
  padding-left:90px;
  padding-right:150px;
  vertical-align: middle;
}
.button1{
  border: 1px solid #EB596E;
}

.button1:hover{
  border: 0px solid;
  background-color: #EB596E;
  color: white;
}
.carousel-inner{
  padding-left: 65px;

}
.next{
  color: #EB596E;
}
.button2{
  border: 0px solid;
    background-color: #EB596E;
}
.previous{
  width: 50px;
  display: inline;
  float: left;
  margin-left: 1px;
  padding-top: 130px;
  color: #EB596E;
}
.best{
    color: #EB596E;
    padding-bottom: 20px;
    padding-left: 65px;
}
.pic1{
  padding-left: 65px;
  border: 0px solid #ddd;
  max-height: 120px;
  display: flex;
}
.pic1::webkit-scrollbar{
  width: 0;
}
.pic1 .it{
  min-width: 300px;
  height: 300px;
  line-height: 110px;
  text-align: center;
}

.most{
  color: #EB596E;
padding-bottom: 20px;
padding-top: 20px;
}
.client{
  color: #EB596E;
  padding-bottom: 20px;
  padding-top: 20px;
}
  #top{
    text-align: center;
    padding-left: 50px;
  }
  #sr-box{
    float: left;
    width: 250px;
    height: 160px;
    padding-top: 20px;
  }
  #sd-box {
      float:left;
      width:250px;
      height:160px;

      margin-left: 25px;
      background-color:;
      padding-top: 20px;
  }
  hr{
    border-top: 1px solid #979797;
    opacity: 94%;
  }
  .gap{
    padding-top: 28px;
  }
  #nt-box {
      float:left;
      width:250px;
      height:160px;
      background-color:;
      margin-right: 0px;
      margin-left: 0px;
      padding-top: 20px;
  }
  #rt-box {
      float:right;
      width:220px;
      height:160px;
      background-color:;
      margin-left: 0px;
      padding-top: 20px;
  }
}
.foo{

}
#footer{
  /* margin-right: 20px; */
  margin: 0px;
}
.social-icon{
  margin: 20px 10px;
}
nav.scroll{
  background-color: black;
  color: white;
}
.best1{
  color: #EB596E;
  padding-bottom: 20px;
  padding-top: 20px;
}
.screen{
  background-color: black;
  text-align: center;
}
.scrollmenu {
    background-color: #333;
    overflow: auto;
    background-color: #312C51;
    overflow-y: hidden;
    white-space: nowrap;
    width: 1240px;
    height: 410px;
  }
  ::-webkit-scrollbar {
      display: none;
  }
  div.scrollmenu img{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
  }

  div.scrollmenu img:hover {
    background-color: #312C51;
  }
}

.inner{
  position: relative;
  bottom: 145px;
}
.prev{

  font-size: 5em;
}
.next{
    padding-top: 10px;
    font-size: 2.5em;
}
.galleryw{
  padding-top: 50px;
  padding-bottom: 50px;
}
.button.hover {
  filter: brightness(150%);
}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
.t{
  position: absolute;
  top: 205%;
  left: 19%;
  color: #FFFFFF;
  transform: translate(-50%, -50%);
}
