.container-fluid{
  background-color: #01024E;
  color: white;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-brand{
 font-weight: bold;
 padding-top: 20px;
 padding-left: 40px;
 padding-bottom: 50px;
}
.nav-item{
  padding-right: 65px;
}
.icon{
  width: 47.94px;
  height: 24.6px;
}
.text{

}
.img{
  text-align: center;
  margin-top: 120px;
  padding-top: 00px;
  opacity: 25%;
  width: 400px;
  height: 256px;
}
.text{
  padding-left: 390px;

}
.navbar {
  overflow: hidden;
  background-color: #01024E;
  position: fixed;
  top: 0;
  opacity: 94%;
  width: 100%;
}

.navbar a {
  float: left;
  display: flex;
  color: #EB596E;
  text-align: center;
  font-size: 17px;
}
.navbar-custom .nav-item:hover .nav-link{
  color: #EB596E;
}
.navbar a:hover {
  color: #EB596E;
}
.main{
  padding-left: 65px;
    padding-top: 70px;
    background-color: #01024E;
  }
  .but{
    padding-left: 50px;
      background-color: #01024E;
  }
  .st{
    float: left;
    width: 559px;
      background-color: #01024E;
  }
  .nd{
    padding-left: 820px;
    padding-top: 10px;
      background-color: #01024E;
  }
.dev{
    border-radius: 25px;
    height: 35px;
    margin: 10px;
}
.size{
  width: 559px;
}
.dev1{
  border-radius: 30px;
 background-color: #EB596E;
}
.pad{
  text-align: center;
}
.pad1{
  background-color: #EB596E;
}
.container1{
  height:470px;
  background-color: #1D1B2B;
  padding-top:20px;
  padding-left:90px;
  padding-right:150px;
  vertical-align: middle;
}
.button1:hover{
  background-color: #EB596E;
  color: white;
}
.carousel-inner{
  padding-left: 65px;

}
.next{
  color: #EB596E;
}
.previous{
  width: 50px;
  display: inline;
  float: left;
  margin-left: 1px;
  padding-top: 130px;
  color: #EB596E;
}
.best{
    color: #EB596E;
    padding-bottom: 20px;
    padding-left: 65px;
}
.pic1{
  padding-left: 65px;
}
.most{
  color: #EB596E;
padding-bottom: 20px;
padding-top: 20px;
}
.client{
  color: #EB596E;
  padding-bottom: 20px;
  padding-top: 20px;
}
  #top{
    text-align: center;
    padding-left: 50px;
  }
  #sr-box{
    float: left;
    width: 250px;
    height: 160px;
    padding-top: 20px;
  }
  #sd-box {
      float:left;
      width:250px;
      height:160px;
      background-color:;
      padding-top: 20px;
  }
  hr{
    border-top: 1px solid white;
  }
  #nt-box {
      float:left;
      width:250px;
      height:160px;
      background-color:;
      margin-left: 35px;
      padding-top: 20px;
  }
  #rt-box {
      float:right;
      width:200px;
      height:160px;
      background-color:;
      padding-top: 20px;
  }
}
#footer{
  padding: 7% 15%;
  margin: 20px;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}
nav.scroll{
  background-color: black;
  color: white;
}
.best1{
  color: #EB596E;
  padding-bottom: 20px;
  padding-top: 20px;
}
.screen{
  background-color: black;
  text-align: center;
  
}
.inner1{
  position: absolute;
  top: 42%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.inner{
  padding-left: 120px;
  padding-bottom: 130px;
  position: absolute;
  z-index: 10;
}
.prev{

  font-size: 5em;
}
.next{
    padding-top: 10px;
    font-size: 2.5em;
}
.galleryw{
  padding-top: 50px;
  padding-bottom: 50px;
}
.button.hover {
  filter: brightness(150%);
}
